################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BitTrackerUICore/obj
/BL/obj
/DAL/obj
/Services/obj
/TL/obj
/_SRC_BL/obj
/_SRC_DAL/obj
/_SRC_Services/obj
/_SRC_TL/obj
/_SRC_UICore/obj
/_SRC_UICore/bin/Debug/netcoreapp2.0
/_SRC_TL/bin/Debug/netcoreapp2.0
/_SRC_Services/bin/Debug/netcoreapp2.0
/_SRC_DAL/bin/Debug/netcoreapp2.0
/_SRC_BL/bin/Debug/netcoreapp2.0
